@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
    padding: 0;
    margin: 0px;
    font-family: "Noto Sans", "sans-serif";
}

.top-nav{
    background-color: rgb(23, 23, 68);
    overflow: hidden ;
}

.top-nav{
    color:al rgb(23, 23, 68);
    display:block;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
    text-align: center;

}
.active{
    background-color: rgb(1, 113, 225);

}
.top-nav a:hover:not(.active){
    background-color:rgb(44, 44, 255);
} 
.right{
    float: right !important;
}
